---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { thirtyNineArticles } from "../data/articles.ts";
---

<Layout title="Welcome to Astro.">
  <main class="prose md:prose-xl dark:prose-invert px-8">
    <h1 class="prose-2xl text-center">The 39 Articles of Religion</h1>
    <ol class="list-none ml-0 pl-0">
      {
        thirtyNineArticles.map((article) => (
          <li>
            <article id={`article-${article.number}`}>
              <h2>
                {article.number}. {article.title}
              </h2>
              {article.content.map((section, index) => {
                switch (section.type) {
                  case "paragraph":
                    return <p>{section.text}</p>;
                  case "subheading":
                    return <h3>{section.text}</h3>;
                  case "list":
                    return (
                      <ul>
                        {Array.isArray(section?.items) &&
                        section.items.length > 0 ? (
                          section.items.map((item, idx) => <li>{item}</li>)
                        ) : (
                          <li>No items available.</li>
                        )}
                      </ul>
                    );
                  default:
                    return null;
                }
              })}
            </article>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
