---
import Layout from "../layouts/Layout.astro";

import { thirtyNineArticles } from "../data/articles.ts";
---

<Layout title="Welcome to Astro.">
  <main class="prose md:prose-xl dark:prose-invert px-8">
    <h1 class="sm:text-center">The 39 Articles of Religion</h1>
    <ol class="list-none ml-0 pl-0">
      {
        thirtyNineArticles.map((article) => (
          <li>
            <article id={`article-${article.number}`}>
              <h2 class="group flex items-center">
                <a
                  href={`#article-${article.number}`}
                  class="text-inherit no-underline flex-1"
                >
                  {article.number}. {article.title}
                </a>
                <button
                  class="opacity-0 group-hover:opacity-100 focus:opacity-100 transition-opacity text-gray-500 hover:text-gray-700 focus:text-gray-700"
                  title="Copy link"
                  data-article-id={`article-${article.number}`}
                >
                  #
                </button>
              </h2>
              {article.content.map((section, index) => {
                switch (section.type) {
                  case "paragraph":
                    return <p>{section.text}</p>;
                  case "subheading":
                    return <h3>{section.text}</h3>;
                  case "list":
                    return (
                      <ul>
                        {Array.isArray(section?.items) &&
                        section.items.length > 0 ? (
                          section.items.map((item, idx) => <li>{item}</li>)
                        ) : (
                          <li>No items available.</li>
                        )}
                      </ul>
                    );
                  default:
                    return null;
                }
              })}
            </article>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('button[title="Copy link"]').forEach((button) => {
      button.addEventListener("click", () => {
        const btn = button as any;
        const articleId = btn.dataset.articleId;
        const fullUrl = `${window.location.origin}${window.location.pathname}#${articleId}`;
        navigator.clipboard
          .writeText(fullUrl)
          .then(() => {
            btn.innerText = "Copied";
            setTimeout(() => {
              btn.innerHTML = "#";
            }, 1200);
          })
          .catch((err) => alert("Failed to copy link."));
      });
    });
  });
</script>
